<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoReports Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoReports
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoReports>
            <version>3.16.3</version>
        </MageWorx_SeoReports>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SeoReports after="Mage_Adminhtml">MageWorx_SeoReports_Adminhtml</MageWorx_SeoReports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <seoreports>
                <class>MageWorx_SeoReports_Model</class>
                <resourceModel>seoreports_mysql4</resourceModel>
            </seoreports>
            <seoreports_mysql4>
                <class>MageWorx_SeoReports_Model_Mysql4</class>
                <entities>
                    <product>
                        <table>seosuite_report_product</table>
                    </product>
                    <category>
                        <table>seosuite_report_category</table>
                    </category>
                    <cms>
                        <table>seosuite_report_cms</table>
                    </cms>
                </entities>
            </seoreports_mysql4>
        </models>
        <resources>
            <seoreports_setup>
                <setup>
                    <module>MageWorx_SeoReports</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seoreports_setup>
            <seoreports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seoreports_write>
            <seoreports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seoreports_read>
        </resources>
        <blocks>
            <seoreports>
                <class>MageWorx_SeoReports_Block</class>
            </seoreports>           
        </blocks>
        <helpers>
            <seoreports>
                <class>MageWorx_SeoReports_Helper</class>
            </seoreports>
        </helpers>       
    </global>
    <adminhtml>
        <layout>
            <updates>
                <seoreports>
                    <file>mageworx_seoreports.xml</file>
                </seoreports>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorx_SeoReports>
                    <files>
                        <default>MageWorx_SeoReports.csv</default>
                    </files>
                </MageWorx_SeoReports>
            </modules>
        </translate>    
        <events>
            <catalog_product_save_after>
                <observers>
                    <seoreports>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>productSaveAfter</method>
                    </seoreports>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <seoreports>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>categorySaveAfter</method>
                    </seoreports>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <seoreports>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>cmsPageSaveAfter</method>
                    </seoreports>
                </observers>
            </cms_page_save_after>
        </events>     
    </adminhtml>
    <default>
        <mageworx_seo>
            <seoreports>
                <max_title_length>70</max_title_length>
                <max_description_length>150</max_description_length>
            </seoreports>                
        </mageworx_seo>
    </default>
</config>