<?xml version="1.0"?>
<config>
    <modules>
        <Ksv_Pzoom>
            <version>0.1.1</version>
        </Ksv_Pzoom>
    </modules>
    <frontend>
        <routers>
            <pzoom>
                <use>standard</use>
                <args>
                    <module>Ksv_Pzoom</module>
                    <frontName>pzoom</frontName>
                </args>
            </pzoom>
        </routers>
        <layout>
            <updates>
                <pzoom>
                    <file>pzoom.xml</file>
                </pzoom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pzoom>
				<use>admin</use>
				<args>
					<module>Ksv_Pzoom</module>
					<frontName>pzoom</frontName>
				</args>
			</pzoom>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="pzoom">
				<title>Product Zoom</title>
				<sort_order>80</sort_order>               
				<children>
					<pzoom translate="title" module="pzoom">
						<title>Pzoom</title>
						<sort_order>2</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/pzoom</action>
							</configuration>
						</children>
					</pzoom>
				</children>
			</magentothem>
		</menu>
		<layout>
			<updates>
				<pzoom>
					<file>pzoom.xml</file>
				</pzoom>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pzoom>
                <class>Ksv_Pzoom_Model</class>
                <resourceModel>pzoom_mysql4</resourceModel>
            </pzoom>
            <pzoom_mysql4>
                <class>Ksv_Pzoom_Model_Mysql4</class>
                <entities>
                    <pzoom>
                        <table>pzoom</table>
                    </pzoom>
                </entities>
            </pzoom_mysql4>
        </models>
        <resources>
            <pzoom_setup>
                <setup>
                    <module>Ksv_Pzoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pzoom_setup>
            <pzoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pzoom_write>
            <pzoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pzoom_read>
        </resources>
        <blocks>
            <pzoom>
                <class>Ksv_Pzoom_Block</class>
            </pzoom>
        </blocks>
        <helpers>
            <pzoom>
                <class>Ksv_Pzoom_Helper</class>
            </pzoom>
        </helpers>
    </global>
	<default>
		<pzoom>
			<pzoom_config>
				<enabled>1</enabled>
				<zoom_w>300</zoom_w>
				<zoom_h>300</zoom_h>
				<zoom_border_w>4</zoom_border_w>
				<zoom_border_color>#cdcdcd</zoom_border_color>
				<lightbox_w>500</lightbox_w>
				<lightbox_h>500</lightbox_h>
			</pzoom_config>
		</pzoom>
	</default>
</config>
