<?xml version="1.0"?>
<config>
    <default>
        <sharing_options>
            <messages>
                <sharingCount>page</sharingCount>
            </messages>
            <horizontalSharing>
                <horizontalShareEnable>1</horizontalShareEnable>
                <horizontalShareProduct>1</horizontalShareProduct>
                <horizontalShareSuccess>1</horizontalShareSuccess>
                <sharingTitle>Share it now!</sharingTitle>
                <horizontalSharingTheme>32</horizontalSharingTheme>
                <horizontalSharingProvidersHidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</horizontalSharingProvidersHidden>
                <horizontalCounterProvidersHidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</horizontalCounterProvidersHidden>
            </horizontalSharing>
            <verticalSharing>
                <verticalShareEnable>1</verticalShareEnable>
                <verticalShareProduct>1</verticalShareProduct>
                <verticalShareSuccess>1</verticalShareSuccess>
                <verticalSharingTheme>counter_vertical</verticalSharingTheme>
                <verticalAlignment>top_left</verticalAlignment>
                <verticalSharingProvidersHidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</verticalSharingProvidersHidden>
                <verticalCounterProvidersHidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</verticalCounterProvidersHidden>
            </verticalSharing>
        </sharing_options>
    </default>
    <modules>
        <Loginradius_Sharing>
            <version>2.1.0</version>
        </Loginradius_Sharing>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sharing>
                    <file>sharing.xml</file>
                </sharing>
            </updates>
        </layout>
        <translate>
            <modules>
                <Loginradius_Sharing>
                    <files>
                        <default>Loginradius_Sharing.csv</default>
                    </files>
                </Loginradius_Sharing>
            </modules>
        </translate>
        <routers>
            <sharing>
                <use>standard</use>
                <args>
                    <module>Loginradius_Sharing</module>
                    <frontName>sharing</frontName>
                </args>
            </sharing>
        </routers>
    </frontend>
    <admin>
        <routers>
            <sharing>
                <use>admin</use>
                <args>
                    <module>Loginradius_Sharing</module>
                    <frontName>sharing admin</frontName>
                </args>
            </sharing>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sharing_options>
                                            <title>Store Social login Module Section</title>
                                        </sharing_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Loginradius_Sharing>
                            <title>Sharing Module</title>
                            <sort_order>10</sort_order>
                        </Loginradius_Sharing>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sharing>
                    <file>loginradius_sharing.xml</file>
                </sharing>
            </updates>
        </layout>
        <events>
            <model_config_data_save_before>
                <observers>
                    <sharing>
                        <type>singleton</type>
                        <class>sharing/Observer</class>
                        <method>validateLoginradiusKeys</method>
                    </sharing>
                </observers>
            </model_config_data_save_before>
        </events>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <sharing_observer>
                        <class>sharing/Observer</class>
                        <method>addCustomLayoutHandle</method>
                    </sharing_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <sharing>
                <class>Loginradius_Sharing_Model</class>
            </sharing>
        </models>
        <resources>
            <sharing_setup>
                <setup>
                    <module>Loginradius_Sharing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sharing_setup>
            <sharing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sharing_write>
            <sharing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sharing_read>
        </resources>
        <blocks>
            <sharing>
                <class>Loginradius_Sharing_Block</class>
            </sharing>
        </blocks>
        <helpers>
            <sharing>
                <class>Loginradius_Sharing_Helper</class>
            </sharing>
        </helpers>
    </global>
</config>