<?xml version="1.0"?>
<config>
    <modules>
        <Potato_Core>
            <version>1.0</version><platform>ce</platform>
        </Potato_Core>
    </modules>
    <global>
        <helpers>
            <po_core>
                <class>Potato_Core_Helper</class>
            </po_core>
        </helpers>
        <blocks>
            <po_core>
                <class>Potato_Core_Block</class>
            </po_core>
        </blocks>
        <models>
            <po_core>
                <class>Potato_Core_Model</class>
            </po_core>
        </models>
        <template>
            <email>
                <po_core_notification_new_question_to_support_template translate="label" module="po_core">
                    <label>Potato Core: New Question To Support</label>
                    <file>po_core_new_question_to_support.html</file>
                    <type>html</type>
                </po_core_notification_new_question_to_support_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_core>
                    <file>po_core.xml</file>
                </po_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_Core>
                    <files>
                        <default>Potato_Core.csv</default>
                    </files>
                </Potato_Core>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_po_core>
                <observers>
                    <po_sortby>
                        <type>singleton</type>
                        <class>po_core/observer</class>
                        <method>systemConfigSectionSaveAfter</method>
                    </po_sortby>
                </observers>
            </admin_system_config_changed_section_po_core>
            <adminhtml_block_html_before>
                <observers>
                    <po_sortby_tabs_sorting>
                        <type>singleton</type>
                        <class>po_core/observer</class>
                        <method>preparePotatoTabs</method>
                    </po_sortby_tabs_sorting>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>