<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoFriendlyLN Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoFriendlyLN
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoFriendlyLN>
            <version>3.15.7</version>
        </MageWorx_SeoFriendlyLN>
    </modules>    
    <global>
        <models>
            <seofriendlyln>
                <class>MageWorx_SeoFriendlyLN_Model</class>
                <resourceModel>seofriendlyln_mysql4</resourceModel>
            </seofriendlyln>
            <seofriendlyln_mysql4>
                <class>MageWorx_SeoFriendlyLN_Model_Mysql4</class>
            </seofriendlyln_mysql4>
            <catalog>                
                <rewrite>
                    <layer_filter_item>MageWorx_SeoFriendlyLN_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_attribute>MageWorx_SeoFriendlyLN_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>                    
                </rewrite>
            </catalog>          
        </models>
        <resources>
            <seofriendlyln_setup>
                <setup>
                    <module>MageWorx_SeoFriendlyLN</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seofriendlyln_setup>
            <seofriendlyln_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seofriendlyln_write>
            <seofriendlyln_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seofriendlyln_read>
        </resources>
        <blocks>
            <seofriendlyln>
                <class>MageWorx_SeoFriendlyLN_Block</class>
            </seofriendlyln>           
            <catalog>
                <rewrite>                                  
                    <layer_state>MageWorx_SeoFriendlyLN_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>MageWorx_SeoFriendlyLN_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>           
            <page>
                <rewrite>
                    <html_pager>MageWorx_SeoFriendlyLN_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>           
        </blocks>
        <helpers>
            <seofriendlyln>
                <class>MageWorx_SeoFriendlyLN_Helper</class>
            </seofriendlyln>            
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <seofriendlyln>
                        <type>singleton</type>
                        <class>MageWorx_SeoFriendlyLN_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </seofriendlyln>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch_catalog>
                <observers>
                    <seofriendlyln>
                        <type>singleton</type>
                        <class>MageWorx_SeoFriendlyLN_Controller_Router</class>
                        <method>parseLayeredParams</method>
                    </seofriendlyln>
                </observers>
            </controller_action_predispatch_catalog>           
        </events>
    </global>
    <adminhtml>        
        <translate>
            <modules>
                <MageWorx_SeoFriendlyLN>
                    <files>
                        <default>MageWorx_SeoFriendlyLN.csv</default>
                    </files>
                </MageWorx_SeoFriendlyLN>
            </modules>
        </translate>         
    </adminhtml>
    <default>
        <mageworx_seo>
            <seofriendlyln>
                <enabled>0</enabled>
                <enable_ln_friendly_urls>1</enable_ln_friendly_urls>
                <layered_hide_attributes>1</layered_hide_attributes>
                <layered_identifier>l</layered_identifier>
                <layered_separatort>:</layered_separatort>                          
            </seofriendlyln>           
        </mageworx_seo>
    </default>
</config>