<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx_SeoRedirects Extension
 *
 * @category   MageWorx
 * @package    MageWorx_SeoRedirects
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <sections>
        <mageworx_seo translate="label" module="mageworx_seoredirects">
            <label>SEO Suite Ultimate</label>
            <tab>mageworx</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <seoredirects>
                    <label>SEO Redirects (For Deleted Product)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled_for_dead_product translate="label comment">
                            <label><![CDATA[Enable]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled_for_dead_product>
                        <product_redirect_type translate="label comment">
                            <label><![CDATA[Redirect Type]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>mageworx_seoredirects/source_redirectType</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>0</can_be_empty>
                        </product_redirect_type>
                        <product_redirect_by_priority>
                            <label><![CDATA[Default Redirect To]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>mageworx_seoredirects/source_redirectTo</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_redirect_by_priority>
                        <product_redirect_count_stable_day translate="label comment">
                            <label><![CDATA[Time period (in days) to keep redirects on the website]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <validate>required-entry validate-number-range number-range-30-365</validate>
                            <comment><![CDATA[Can be set between 30 and 365 days]]></comment>                           
                        </product_redirect_count_stable_day>                            
                    </fields>
                </seoredirects>
            </groups>
        </mageworx_seo>
    </sections>
</config>
