<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_MagicZoom>
            <version>4.15.9</version>
        </MagicToolbox_MagicZoom>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MagicToolbox_MagicZoom before="Mage_Adminhtml">MagicToolbox_MagicZoom</MagicToolbox_MagicZoom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magiczoom">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magiczoom translate="title" module="magiczoom">
                        <title>Magic Zoom settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/magiczoom/index</action>
                    </magiczoom>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magiczoom>
                                    <title>Magic Zoom settings</title>
                                    <sort_order>10</sort_order>
                                </magiczoom>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magiczoom>
                    <file>magiczoom.xml</file>
                </magiczoom>
            </updates>
        </layout>
        <events>
            <catalog_product_load_after>
                <observers>
                    <magiczoom_product_load_after>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>prepareProductVideosAttribute</method>
                    </magiczoom_product_load_after>
                </observers>
            </catalog_product_load_after>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <magiczoom_product_edit_prepare_form>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>prepareProductVideosElement</method>
                    </magiczoom_product_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <catalog_product_validate_after>
                <observers>
                    <magiczoom_product_validate_after>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>validateProductData</method>
                    </magiczoom_product_validate_after>
                </observers>
            </catalog_product_validate_after>
            <catalog_product_prepare_save>
                <observers>
                    <magiczoom_product_prepare_save>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>prepareProductVideosAttributeForSave</method>
                    </magiczoom_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magiczoom module="MagicToolbox_MagicZoom">
                    <file>magiczoom.xml</file>
                </magiczoom>
            </updates>
        </layout>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <magiczoom>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>fixLayoutUpdates</method>
                    </magiczoom>
                </observers>
            </core_layout_update_updates_get_after>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <magiczoom>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicZoom_Model_Observer</class>
                        <method>addLayoutUpdate</method>
                    </magiczoom>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>
            <magiczoom>
                <use>standard</use>
                <args>
                    <module>MagicToolbox_MagicZoom</module>
                    <frontName>magiczoom</frontName>
                </args>
            </magiczoom>
        </routers>
        <default>
            <router>magiczoom</router>
        </default>
    </frontend>
    <global>
        <models>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Model</class>
                <resourceModel>magiczoom_mysql4</resourceModel>
            </magiczoom>
            <magiczoom_mysql4>
                <class>MagicToolbox_MagicZoom_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magiczoom</table>
                    </settings>
                </entities>
            </magiczoom_mysql4>
        </models>
        <resources>
            <magiczoom_setup>
                <setup>
                    <module>MagicToolbox_MagicZoom</module>
                    <class>MagicToolbox_MagicZoom_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magiczoom_setup>
            <magiczoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magiczoom_write>
            <magiczoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magiczoom_read>
        </resources>
        <blocks>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Block</class>
            </magiczoom>
            <catalog>
                <rewrite>
                    <product_new>MagicToolbox_MagicZoom_Block_Product_New</product_new>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Helper</class>
            </magiczoom>
        </helpers>
    </global>
</config>
