<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoExtended Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoExtended
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoExtended>
            <version>3.15.10</version>
        </MageWorx_SeoExtended>
    </modules>   
    <frontend>
        <translate>
            <modules>
                <MageWorx_SeoExtended>
                    <files>
                        <default>MageWorx_SeoExtended.csv</default>
                    </files>
                </MageWorx_SeoExtended>
            </modules>
        </translate>        
        <events>                    
            <core_block_abstract_to_html_before>
                <observers>
                    <seoextended_modify_meta>
                        <type>singleton</type>
                        <class>MageWorx_SeoExtended_Model_Observer</class>
                        <method>modifyMeta</method>
                    </seoextended_modify_meta>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>                    
                    <seoextended_modify_meta>
                        <type>singleton</type>
                        <class>MageWorx_SeoExtended_Model_Observer</class>                        
                        <method>cropMetaKeywordsTag</method>
                    </seoextended_modify_meta>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <global>
        <models>
            <seoextended>
                <class>MageWorx_SeoExtended_Model</class>
                <resourceModel>seoextended_mysql4</resourceModel>
            </seoextended>
            <seoextended_mysql4>
                <class>MageWorx_SeoExtended_Model_Mysql4</class>
                <entities>
                    <report_product>
                        <table>seoextended_report_product</table>
                    </report_product>
                    <report_category>
                        <table>seoextended_report_category</table>
                    </report_category>
                    <report_cms>
                        <table>seoextended_report_cms</table>
                    </report_cms>
                    <template>
                        <table>seoextended_template</table>
                    </template>
                    <template_store>
                        <table>seoextended_template_store</table>
                    </template_store>
                </entities>
            </seoextended_mysql4>
            <catalog>
                <rewrite>
                    <url>MageWorx_SeoExtended_Model_Catalog_Url</url>                                   
                </rewrite>
            </catalog>           
        </models>
        <resources>
            <seoextended_setup>
                <setup>
                    <module>MageWorx_SeoExtended</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seoextended_setup>
            <seoextended_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seoextended_write>
            <seoextended_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seoextended_read>
        </resources>
        <blocks>
            <seoextended>
                <class>MageWorx_SeoExtended_Block</class>
            </seoextended>                    
        </blocks>
        <helpers>
            <seoextended>
                <class>MageWorx_SeoExtended_Helper</class>
            </seoextended>
            <catalog>
                <rewrite>
                    <category>MageWorx_SeoExtended_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
        <events>
           
        </events>
    </global>
    <adminhtml>       
        <layout>
            <updates>
                <seoextended>
                    <file>mageworx_seoextended.xml</file>
                </seoextended>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorx_SeoExtended>
                    <files>
                        <default>MageWorx_SeoExtended.csv</default>
                    </files>
                </MageWorx_SeoExtended>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mageworx_seo>
            <seoextended>               
                <optimized_urls>0</optimized_urls>                  
                <status_pager_num_for_title>begin</status_pager_num_for_title>
                <status_pager_num_for_description>begin</status_pager_num_for_description>
                <cut_title_prefix_and_suffix>0</cut_title_prefix_and_suffix>
                <status_dynamic_meta_title>on_for_empty</status_dynamic_meta_title>
                <status_dynamic_meta_description>on_for_empty</status_dynamic_meta_description>
                <status_dynamic_meta_keywords>on_for_empty</status_dynamic_meta_keywords>
                <extended_category_layered_navigation_meta_title>1</extended_category_layered_navigation_meta_title>
                <extended_category_layered_navigation_meta_description>1</extended_category_layered_navigation_meta_description>                
            </seoextended>            
        </mageworx_seo>
    </default>
</config>