li.auctaneapi-header dl dt.label {background:url(../images/auctaneapi.png)  no-repeat scroll 0 50% #D1DEDF;text-indent: -3000px;}
h3.auctaneapi-header { background:url(../images/header.png) no-repeat 0 0px; height:55px; overflow:hidden; padding:0; margin-top:0; width:700px;  text-indent: -3000px;}
