<?xml version="1.0"?>
<config>
    <modules>
        <Potato_FullPageCache>
            <version>1.0.4</version>
            <platform>ce</platform>
        </Potato_FullPageCache>
    </modules>
    <global>
        <helpers>
            <po_fpc>
                <class>Potato_FullPageCache_Helper</class>
            </po_fpc>
        </helpers>
        <cache>
            <types>
                <po_fpc translate="label,description" module="po_fpc">
                    <label>PotatoCommerce Full Page Cache</label>
                    <description>Full page caching.</description>
                    <tags>PO_FPC</tags>
                </po_fpc>
            </types>
        </cache>
        <models>
            <po_fpc>
                <class>Potato_FullPageCache_Model</class>
                <resourceModel>po_fpc_resource</resourceModel>
            </po_fpc>
            <po_fpc_resource>
                <class>Potato_FullPageCache_Model_Resource</class>
            </po_fpc_resource>
        </models>
        <blocks>
            <po_fpc>
                <class>Potato_FullPageCache_Block</class>
            </po_fpc>
            <core>
                <rewrite>
                    <messages>Potato_FullPageCache_Block_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <events>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>cleanCache</method>
                    </po_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <catalog_product_save_after>
                <observers>
                    <po_fpc_update_product_cache>
                        <class>po_fpc/observer</class>
                        <method>removeProductPageCache</method>
                    </po_fpc_update_product_cache>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <po_fpc_update_category_cache>
                        <class>po_fpc/observer</class>
                        <method>removeCategoryPageCache</method>
                    </po_fpc_update_category_cache>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <po_fpc_update_cms_cache>
                        <class>po_fpc/observer</class>
                        <method>removeCmsPageCache</method>
                    </po_fpc_update_cms_cache>
                </observers>
            </cms_page_save_after>
            <review_save_after>
                <observers>
                    <po_fpc_review_save_after>
                        <class>po_fpc/observer</class>
                        <method>updateProductCacheByReview</method>
                    </po_fpc_review_save_after>
                </observers>
            </review_save_after>
        </events>
        <ignore_user_agents>
            <cache_crawler>MagentoCrawler</cache_crawler>
        </ignore_user_agents>
    </global>
    <adminhtml>
        <events>
            <core_clean_cache>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>cleanCache</method>
                    </po_fpc>
                </observers>
            </core_clean_cache>
            <clean_catalog_images_cache_after>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>flushMediaCache</method>
                    </po_fpc>
                </observers>
            </clean_catalog_images_cache_after>
            <clean_media_cache_after>
                <observers>
                    <po_fpc>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>flushMediaCache</method>
                    </po_fpc>
                </observers>
            </clean_media_cache_after>
            <controller_action_postdispatch_adminhtml_system_currency_saveRates>
                <po_fpc_product_cache>
                    <class>po_fpc/observer</class>
                    <method>cleanProductCache</method>
                </po_fpc_product_cache>
                <po_fpc_category_cache>
                    <class>po_fpc/observer</class>
                    <method>cleanCategoryCache</method>
                </po_fpc_category_cache>
            </controller_action_postdispatch_adminhtml_system_currency_saveRates>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>cleanSystemCache</method>
                    </po_fpc>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_system_currencysymbol_save>
                <po_fpc_product_cache>
                    <class>po_fpc/observer</class>
                    <method>cleanProductCache</method>
                </po_fpc_product_cache>
                <po_fpc_category_cache>
                    <class>po_fpc/observer</class>
                    <method>cleanCategoryCache</method>
                </po_fpc_category_cache>
            </controller_action_postdispatch_adminhtml_system_currencysymbol_save>
            <catalogrule_after_apply>
                <observers>
                    <po_fpc_product_cache>
                        <class>po_fpc/observer</class>
                        <method>cleanProductCache</method>
                    </po_fpc_product_cache>
                    <po_fpc_category_cache>
                        <class>po_fpc/observer</class>
                        <method>cleanCategoryCache</method>
                    </po_fpc_category_cache>
                </observers>
            </catalogrule_after_apply>
            <adminhtml_cache_flush_system>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>flushCache</method>
                    </po_fpc>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <po_fpc>
                        <class>po_fpc/observer</class>
                        <method>flushCache</method>
                    </po_fpc>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <po_fpc_cache_response>
                        <class>po_fpc/observer</class>
                        <method>cacheResponse</method>
                    </po_fpc_cache_response>
                </observers>
            </http_response_send_before>
            <cms_page_render>
                <observers>
                    <po_fpc_register_cms_page>
                        <class>po_fpc/observer</class>
                        <method>registerCmsPage</method>
                    </po_fpc_register_cms_page>
                </observers>
            </cms_page_render>
            <core_block_abstract_to_html_before>
                <observers>
                    <po_fpc_set_frame_tags>
                        <type>singleton</type>
                        <class>po_fpc/observer</class>
                        <method>setFrameTags</method>
                    </po_fpc_set_frame_tags>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_login>
                <observers>
                    <po_fpc_update_customer_group_cookie>
                        <class>po_fpc/observer</class>
                        <method>updateCustomerGroupCookie</method>
                    </po_fpc_update_customer_group_cookie>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_logoutSuccess>
                <observers>
                    <po_fpc_update_customer_group_cookie>
                        <class>po_fpc/observer</class>
                        <method>updateCustomerGroupCookie</method>
                    </po_fpc_update_customer_group_cookie>
                </observers>
            </controller_action_postdispatch_customer_account_logoutSuccess>
            <po_fpc_blocks_update_after>
                <observers>
                    <po_fpc_update_customer_group_cookie>
                        <class>po_fpc/observer</class>
                        <method>updateCustomerGroupCookie</method>
                    </po_fpc_update_customer_group_cookie>
                </observers>
            </po_fpc_blocks_update_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <po_fpc_update_product_cache>
                        <class>po_fpc/observer</class>
                        <method>updateProductCache</method>
                    </po_fpc_update_product_cache>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </checkout_cart_add_product_complete>
            <catalog_product_compare_add_product>
                <observers>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </catalog_product_compare_remove_product>
            <poll_vote_add>
                <observers>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </poll_vote_add>
            <sales_quote_item_delete_before>
                <observers>
                    <po_fpc_update_product_cache>
                        <class>po_fpc/observer</class>
                        <method>updateProductCache</method>
                    </po_fpc_update_product_cache>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </sales_quote_item_delete_before>
            <checkout_cart_update_items_after>
                <observers>
                    <po_fpc_update_session_cache>
                        <class>po_fpc/observer</class>
                        <method>updateSessionBlocksCache</method>
                    </po_fpc_update_session_cache>
                </observers>
            </checkout_cart_update_items_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <po_fpc_cache_skipped_blocks>
                        <class>po_fpc/observer</class>
                        <method>cacheSkippedBlocks</method>
                    </po_fpc_cache_skipped_blocks>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <po_fpc>
                    <file>po_fpc.xml</file>
                </po_fpc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_FullPageCache>
                    <files>
                        <default>Potato_FullPageCache.csv</default>
                    </files>
                </Potato_FullPageCache>
            </modules>
        </translate>
    </frontend>
    <default>
        <po_fpc>
            <general>
                <use_user_agent>0</use_user_agent>
                <max_allowed_size>1024</max_allowed_size>
            </general>
            <auto_generation>
                <enabled>0</enabled>
                <thread_number>1</thread_number>
            </auto_generation>
            <auto_generation>
                <debug>0</debug>
                <ip_addresses></ip_addresses>
            </auto_generation>
        </po_fpc>
    </default>
    <crontab>
        <jobs>
            <po_fpc_crawler>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>po_fpc/crawler::process</model>
                </run>
            </po_fpc_crawler>
            <po_fpc_clean>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>po_fpc/cron::cleanByLimits</model>
                </run>
            </po_fpc_clean>
        </jobs>
    </crontab>
</config>