<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoMarkup Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoMarkup
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoMarkup>
            <version>4.1.6</version>
        </MageWorx_SeoMarkup>
    </modules>    
    <frontend>
        <translate>
            <modules>
                <MageWorx_SeoMarkup>
                    <files>
                        <default>MageWorx_SeoMarkup.csv</default>
                    </files>
                </MageWorx_SeoMarkup>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <seomarkup_add_richsnippet_breadcrumbs>
                        <type>singleton</type>
                        <class>MageWorx_SeoMarkup_Model_Observer_Breadcrumbs</class>
                        <method>createRichsnippetBreadcrumbsMarkup</method>
                    </seomarkup_add_richsnippet_breadcrumbs>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <seomarkup_add_richsnippet_review>
                        <type>singleton</type>
                        <class>MageWorx_SeoMarkup_Model_Observer_Product</class>
                        <method>createRichsnippetReviewMarkup</method>
                    </seomarkup_add_richsnippet_review>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <seomarkup_add_richsnippet_product>
                        <type>singleton</type>
                        <class>MageWorx_SeoMarkup_Model_Observer_Product</class>
                        <method>createRichsnippetProductMarkup</method>
                    </seomarkup_add_richsnippet_product>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <seomarkup_add_richsnippet_category>
                        <type>singleton</type>
                        <class>MageWorx_SeoMarkup_Model_Observer_Category</class>
                        <method>createRichsnippetCategoryMarkup</method>
                    </seomarkup_add_richsnippet_category>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <mageworx_seomarkup>
                    <file>mageworx_seomarkup.xml</file>
                </mageworx_seomarkup>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <mageworx_seomarkup>
                <class>MageWorx_SeoMarkup_Model</class>
                <resourceModel>seomarkup_mysql4</resourceModel>
            </mageworx_seomarkup>
            <mageworx_seomarkup_mysql4>
                <class>MageWorx_SeoMarkup_Model_Mysql4</class>
            </mageworx_seomarkup_mysql4>
        </models>
        <resources>
            <mageworx_seomarkup_setup>
                <setup>
                    <module>MageWorx_SeoMarkup</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>               
            </mageworx_seomarkup_setup>            
        </resources>      
        <blocks>
            <mageworx_seomarkup>
                <class>MageWorx_SeoMarkup_Block</class>
            </mageworx_seomarkup>           
        </blocks>
        <helpers>
            <mageworx_seomarkup>
                <class>MageWorx_SeoMarkup_Helper</class>
            </mageworx_seomarkup>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWorx_SeoMarkup>
                    <files>
                        <default>MageWorx_SeoMarkup.csv</default>
                    </files>
                </MageWorx_SeoMarkup>
            </modules>
        </translate>       
    </adminhtml>
    <default>
        <mageworx_seo>
            <richsnippets>
                <seller_type>LocalBusiness</seller_type>
                <breadcrumbs_method>json-ld</breadcrumbs_method>
                <product_method>json-ld</product_method>
                <best_rating>5</best_rating>
                <enable_category>1</enable_category>
                <category_deepest>1</category_deepest>
            </richsnippets>           
        </mageworx_seo>
    </default>
</config>